@import "../../styles/utilities/variables";

.showroom-trends {
  
  &__movie {
    width: 130px;
    margin-bottom: 25px;
  }

  &__rating {
    display: flex;
    transform: translate(20%, -65%);
    background-color: $color-3;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;

    ::after {
      position: absolute;
      content: "";
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      margin: auto;
      width: 80%;
      height: 80%;
      border-radius: 100%;
      border: 2px solid var(--color-percentage);
    }
  }

  &__value {
    color: $color-1;
    font-size: 12px;
    font-weight: bold;
  }

  &__percentage {
    font-size: 8px;
  }

  &__info {
    margin-top: -20px;
  }

  &__name {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
  }

  &__date {
    font-size: 14px;
    padding: 0px 5px;
    text-decoration: none;
  }

  &__image {
    width: 130px;
    border-radius: 10px;
    cursor: pointer;
  }
}
